<section class="first-section">
  <div class="first-section__container">
    <div class="first-section__space"></div>
    <h1 class="first-section__title">
      Online e Gratis <br>
      <strong>Processador de imagem</strong> <br>
      Explore uma ampla variedade de ferramentas para edição de imagens. <br>
    </h1>
    <p class="first-section__description">
      Desbloqueie um conjunto completo de ferramentas para processar imagens sem sair do seu navegador.
      Nossa plataforma oferece uma gama diversificada de recursos totalmente gratuitos.
      Não há limites para o que você pode criar! <br>
    </p>

    <div class="first-section__buttons">
      <a routerLink="/tools">
        <button class="first-section__button">
          Começar
        </button>
      </a>

      <a routerLink="/documentation">
        <button class="first-section__button">
          Documentação
        </button>
      </a>

    </div>
  </div>
</section>
