<section class="tools-first-section">
  <div class="tools-first-section__container">

    <app-section-header
      subtitle="Ferramentas"
      title="Ferramentas de Processamento de Imagens"
    ></app-section-header>

    <div class="tools-first-section__cards">
      <div class="tools-first-section__cards-container">
        <app-image-text-card
          title="Ajustar Brilho"
          description="Ajuste o brilho da sua imagem usando essa ferramenta."
          url="brightness"
        >
        </app-image-text-card>

        <app-image-text-card
          title="Redimensionar IMAGEM"
          description="Redimensione JPG, PNG, SVG ou GIF definindo nova altura e largura em pixels.
          Redimensione muitas imagens de uma só vez.."
        >
        </app-image-text-card>

        <app-image-text-card
          title="Recortar IMAGEM"
          description="Recorte JPG, PNG ou GIF definindo um retângulo em pixels.
          Recorte sua imagem online."
        >
        </app-image-text-card>


        <app-image-text-card
          title="Converta imagens para JPG"
          description="Transforme PNG, GIF, TIF, PSD, SVG, WEBP, HEIC ou RAW em formato JPG.
          Converta várias imagens para JPG de uma vez."
        >
        </app-image-text-card>

        <app-image-text-card
          title="Melhorar imagem"
          description="Aumente facilmente a resolução de suas imagens com nossa ferramenta de melhoramento avançada."
        >
        </app-image-text-card>


        <app-image-text-card
          title="Comprimir IMAGEM"
          description="Comprima JPG, PNG, SVG ou GIF com a melhor qualidade e compressão.
          Reduza o tamanho de seus arquivos de imagem de uma vez."
        >
        </app-image-text-card>

        <app-image-text-card
          title="Remover fundo"
          description="Retire fundos de imagens. Remova o fundo de suas imagens JPG e PNG com uma qualidade excepcional."
        >
        </app-image-text-card>


        <app-image-text-card
          title="HTML para imagem"
          description="Converter páginas web para JPG ou SVG e manter aspeto visual."
        >
        </app-image-text-card>

      </div>

    </div>

  </div>
</section>
